<!doctype html>
<html lang="en">
<head>
  <title>List</title>
</head>
<body>
  <div class="container">
    <table border="0" cellspacing="5" cellpadding="5">
      <tr>
        <td>Email</td>
        <td>Name</td>
        <td>Hash</td>
        <td>Created at</td>
        <td>followers</td>
      </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.url_hash %></td>
        <td><%= user.created_at %></td>
        <td>
          <table>
          <% user.followers.each do |follower| %>
            <tr>
              <td><%= follower.name %></td>
              <td><%= follower.email %></td>
            </tr>
          <% end %>
          </table>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</body>
</html>
